<main class="lista-vacantes">
    <h2>Navegacion</h2>
    <div class="botones separador">
        <a href='/editar-perfil' class='btn btn-azul'>Edita Tu Perfil</a>
        <a href='/vacantes/nueva' class='btn btn-verde'>Nueva Vacante</a>   
    </div>
    
    <h2>Lista Vacantes</h2>
        {{#if vacantes}}
            <div class="panel-administracion">
                {{#each vacantes}}
                    <div class="vacante">
                        <div class="caja">
                            <h3>{{this.empresa}}</h3>
                            <p class='puesto'>{{this.titulo}}</p>
                        </div>
                        <div class="caja centrar-vertical">
                            <a href='/vacante/{{this.url}}' class="btn btn-verde">Ver</a>
                        </div>
                        <div class="caja centrar-vertical">
                            <a href='/candidatos/{{this._id}}' class="btn btn-amarillo">Cadidatos</a>
                        </div>
                        <div class="caja centrar-vertical">
                            <a href="/vacante/editar/{{this.url}}" class="btn btn-azul">Editar</a>
                        </div>
                        <div class="caja centrar-vertical">
                            <a data-eliminar='{{this._id}}' class="btn btn-rojo">Eliminar</a>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>No hay Vacantes</p>
        {{/if}}
</main>